.left.column
  %h1 Sign in
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'login-user' }) do |f|
    = f.input :email, autofocus: true
    = f.input :password
    = f.button :submit, "Sign in"

.right.column
  = render "devise/shared/links"
